/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: black;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General styles */

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

img { 
  width: 100%;
}
 
figure {
        margin: 0;
}

html {
  font-size: 16px;
}
 
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
 
ul, 
ol {
 list-style-type: none;
}
 
a {
  color: black;
     text-decoration: none;
}

h1 {
  font-family: 'Smythe', cursive;
  text-transform: uppercase;
  font-size: 3.50em;
  color: black;
}
 
h2 {
  font-family: 'Smythe', cursive;
  font-size: 2.5em;
}
 
h3, 
h4 {
  font-family: 'Smythe', cursive;
  font-size: 2em;
}
 
p {
  font-size: 1.5em;
  line-height: 1.5em;
}
 
address {
 font-style: normal;
}
 

/*--------------- Base Header - Footer Styles ----------*/

header, 
footer {
	display: flex;
	justify-content: center;
	align-items: center;
  flex-flow: row wrap;
}

/* Header Styles */

header {
  padding: 15px 0;
  background-color: #EFE5C8;
  border-top: #2f2719 solid 5px;
  border-bottom: #2f2719 solid 5px;
}

header .content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
  margin: 0;
}

header figure {
  width: 50%;
}

.header-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
  border-top: 3px solid #866464;
}

header nav {
	display: flex;
	width: 60%;
  justify-content: center;
}

header nav ul {
	font-family: 'Smythe', cursive;
  font-size: 1.875em;
  text-transform: uppercase;
	display: flex;
  justify-content: space-between;
  width: 60%;
}

/* Footer Styles */

footer {
	background-color: #2f2719;
	color: #EFE5C8;
  flex-direction: column;
  text-align: center;
}

footer .content-wrapper {
  width: 55%;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

footer h4 {
  margin-bottom: 10px;
}

footer .contact {
  margin-bottom: 50px;
}

footer .social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.social-icons i {
  font-size: 2em;
  color: lightblue;
}

.contact a {
  color: #EFE5C8;
}

.copyright p {
  font-size: 1em;
  color: #3abeff;
  margin-bottom: 20px;
}

/*--------------- Mobile Styles - Homepage ----------*/

/* Hero Area */

.hero-area {
  background: url('../img/old-letters.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: #2f2719 solid 5px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
  height: 600px;
}

.hero-area h1 {
 text-align: center;
}

/* Aside */

aside .content-wrapper {
  margin-top: 10px;
  margin-bottom: 65px;
}

aside {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	background-color: #efe5c8;
}

.form-description h3 {
  margin-bottom: 10px;
}

.form-description p {
  margin-top: 0;
}

/* Inspirations */

.inspirations .content-wrapper {
  margin-top: 15px;
  margin-bottom: 100px;
}

.inspirations {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	background: url('../img/parchment.jpg') no-repeat;
	background-size: cover;
  background-position: center;
}

.inspirations h2 {
  margin-bottom: 10px;
}

.inspirations p {
  margin: 0;
}

.inspirations .inspirations-items {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.inspirations article {
  width: 65%;
  margin: 20px 0;
}

.houses, .birds, .water, .mountains {
  text-align: center;
}

.houses p {
  margin-top: 8px;
  margin-bottom: -20px;
}

.birds p, .mountains p {
  margin-top: 15px;
  margin-bottom: -40px;
}

.water p {
  margin-top: -10px;
}

figure img#house {
  width: 60%;
}

figure img#bird {
  width: 70%;
}

figure img#water {
  width: 95%;
}

figure img#mountains {
  width: 50%;
}

/* Reviews */

.reviews .content-wrapper {
  margin-top: 10px;
}

.reviews {
	border: #efe5c8 double 30px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.reviews h2 {
  margin-bottom: 30px;
  margin-top: 10px;
}

figure img#kxone {
  width: 60%;
}

.reviews h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
  width: 100%;
  margin: 20px 0;
}

.kxonelaguna a {
  font-size: 1.5em;
  font-style: italic;
  color: #3abeff;
} 

.kxonelaguna {
  margin-bottom: -10px;
}

/* ==========================================================================
   About Page
   ========================================================================== */

.intention {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
  background: url('../img/damask.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.intention h2 {
  margin-top: 70px;
}

.intention p,
.intention h2 {
  color: #EFE5C8;
}

.intention p {
  margin-top: 0;
  margin-bottom: 20px;

}

.intention .content-wrapper {
  margin-bottom: 40px;
  margin-top: 0;
}

.contact-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
  background: url('../img/parchment.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-section .content-wrapper {
  margin-top: 60px;
  margin-bottom: 30px;
}

figure img#writer {
	width: 93%;
  border: black double 20px;
}

.request h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.contact-info {
  display: flex;
  flex-flow: row wrap;
}

.contact-info img {
  border: none;
  width: 100%;
  margin-top: -40px; 
  margin-left: -50px;
}

.contact-info p {
  width: 100%;
}

.contact-info h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.email-subject {
  display: flex;
  flex-flow: row nowrap;
}

.map figure {
  position: relative;
  padding-bottom: 125%;
  height: 0;
  overflow: hidden;
  width: 100%;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

/* ==========================================================================
   FAQ Page
   ========================================================================== */

.faq {
	background: url('../img/mysteries.jpg') no-repeat;
	background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  margin: 50px 0 30px 0;
  padding: 20px;
}

.faq h2 {
  margin: 0;
  margin-bottom: 40px;
}

.faq-content h4,
.faq-content p {
  margin-left: 0;
}

.faq-content h4 {
  margin-bottom: 0;
  margin-top: 0;
}
.faq-content p {
  margin-top: 0;
}

.clock-section {
  background: url('../img/damask.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

figure img#clock {
  width: 30%;
  margin-top: 50px;
  margin-bottom: 40px;
}

/*--------------- Mobile Styles - About ----------*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
    /* General styles */
      .content-wrapper {
        max-width: 640px;
      }

      /* Header */
      header {
        justify-content: center;
      }

      header .content-wrapper {
        width: 100%;
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      header figure {
        width: 40%;
      }

      header nav {
        justify-content: flex-end;
      }

      header nav ul {
        width: 47%;
        justify-content: space-around;
      }

      .header-divider {
        display: none;
      }

      aside {
        display: flex;
        align-items: flex-start;
      }

      aside .content-wrapper {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        margin-bottom: 40px;
        margin-top: 0;
      }

      .form-description {
          width: 45%;
      }

      .form-description h3 {
        margin-top: 50px;
      }

      .form {
          width: 45%;
          margin-top: 40px;
      }

      .form h3 {
        margin-top: 10px;
        margin-bottom: 8px;
      }

      section .inspirations {
        display: flex;
        flex-flow: row wrap;
      }

      .inspirations-items article {
        width: 48%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
      }

      .inspirations article {
        width: 90%;
      }

      .houses,
      .birds,
      .water,
      .mountains {
        flex-basis: 50%;
      }

      article p {
        width: 70%;
      }

      .houses p {
        margin-top: 0px;
        margin-bottom: -30px;
      }

      .birds p {
        margin-top: 18px;
        margin-bottom: 0px;
      }

      .mountains p {
        margin-top: 18px;
        margin-bottom: -70px;
      }

      .water p {
        margin-top: -10px;
        margin-bottom: -70px;
      }

      figure img#house {
        margin-top: -40px;
        margin-bottom: 5px;
        width: 75%;
      }

      figure img#bird {
        margin-bottom: -5px;
        width: 75%;
      }

      figure img#water {
        margin-top: -30px;
        width: 80%;
      }

      figure img#mountains {
        margin-top: 5px;
        width: 70%;
      }

      .reviews h2 {
        margin-bottom: 30px;
        margin-top: 20px;
      }

      figure img#kxone {
        width: 40%;
      }

      footer .content-wrapper {
        margin-bottom: 10px;
        width: 100%;
      }

      .footer-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
      } 

      address {
      	text-align: center;
      }

      .social-icons i {
        margin-left: 20px;
        margin-right: 20px;
      }

/* ==========================================================================
    About Page
  =========================================================================== */
  
      .intention-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 
      }
 
      .intention-content p {
        width: 45%;
      }

      figure img#writer {
        width: 95%;
      }

      .contact-content {
        display: flex;
      }

      .request {
        width: 45%;
        margin-right: 45px;
      }
      
      .contact-info {
      	width: 49%;
        display: flex;
        flex-flow: column;
        margin-top: 110px;
      }

      .email-subject {
        display: flex;
        flex-flow: column;
      }

      .email-subject p {
        width: 100%;
        margin-bottom: 10px;
      }

      .email-subject img {
        margin: 0 0;
      }

      .map figure {
        padding-bottom: 50%;
      }
      
/* ==========================================================================
    Faq Page
  =========================================================================== */

      .faq-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
      }

      .faq h2 {
        margin-bottom: 20px;
      }

      .faq-col-one,
      .faq-col-two {
        width: 45%;
      }

      .faq-one h4,
      .faq-two h4 {
        margin-top: 20px;
        margin-bottom: 0;
      }

      .faq-three h4 {
        margin-top: 30px;
        margin-bottom: 0;
      }

      .faq-one p,
      .faq-two p,
      .faq-three p {
        margin-top: 5px;
      }

      figure img#clock {
        width: 20%;
      }

@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/
   	/* General styles */
  		.content-wrapper {
       		max-width: 960px;
      }

      header .content-wrapper {
        width: 100%;
      }

      header figure {
        width: 30%;
      }

      .form {
        margin-bottom: 20px;
      }

      .inspirations-items {
        width: 100%;
      }

      .houses,
      .birds,
      .water,
      .mountains {
        flex-basis: 25%;
      }

      article p {
        width: 90%;
      }

      .inspirations-items {
        margin-bottom: -40px;
      }

      .houses p {
        margin-top: 8px;
        margin-bottom: -30px;
      }

      .birds p {
        margin-top: 18px;
        margin-bottom: 0px;
      }

      .mountains p {
        margin-top: 18px;
        margin-bottom: -70px;
      }

      .water p {
        margin-top: -20px;
        margin-bottom: -70px;
      }

      figure img#house {
        margin-top: 10px;
        margin-bottom: 0px;
        width: 70%;
      }

      figure img#bird {
        margin-bottom: 0px;
        width: 80%;
      }

      figure img#water {
        margin-top: -60px;
        margin-bottom: 10px;
        width: 100%;
      }

      figure img#mountains {
        margin-top: -20px;
        width: 65%;
      }

      figure img#kxone {
        width: 30%;
      }

/* ==========================================================================
    About Page
  =========================================================================== */
      .contact-section .content-wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 10px 0 20px 0;
      }

      figure img#writer {
        width: 93%;
      }

      .contact-content {
        display: flex;
        flex-flow: row wrap;
        margin-left: 60px;
        width: 58%;
      }

      .request  {
        width: 100%;
      }

      .contact-info {
        width: 100%;
        margin-top: 0;
      }

      .email-subject img {
        width: 50%;
      }

      .map figure {
        padding-bottom: 30%;
      }

/* ==========================================================================
    Faq Page
  =========================================================================== */
      .faq h2 {
        margin-top: 70px;
      }

      .faq-content p {
        margin-bottom: 70px;
      } 

      figure img#clock {
        width: 15%;
      }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

